.weather {
    display: flex;
}

.degree {
    font-size: 38px;
    line-height: 1px;
}

.wawa {
    font-size: 180px;
}

.wawa i {
  line-height: normal;
}

.weatherInfo {
    margin-left: 15px;
    font-size: 26px;
}
