.calendar {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.header {
    height: 30px;
    order: 1;
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-bottom: 8px;
}

.weekNumber, .month, .year {
    flex: 0 0 auto;
    align-self: center;
    padding-right: 5px;
}

.container {
    order: 2;
    flex: 1 1 auto;
}

.row {
    display: flex;
    border-bottom: 1px solid grey;
    min-height: 50px;
}

.day {
    flex: 0 0 50px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.dayInfo {
    flex: 0 0 auto;
    align-self: center;
}

.dayName {
    composes: dayInfo;
}

.dayNumber {
    composes: dayInfo;
    font-size: 40px;
}

.notes {
    flex: 1 1 auto;
    padding: 5px;
}

.note {
    margin-bottom: 10px;
    display: flex;
}

.summary {
    flex: 1 1 auto;
}

.time {
    flex: 0 0 auto;
    margin-right: 5px;
}

.birthday::before {
    content: "\f1fd";
    font-family: FontAwesome;
    margin-right: 5px;
}

.flagDay {
    display: flex;
    position: relative;
    align-items: center;
}

.flag {
    margin-right: 10px;
    height: 20px;
    width: 45px;
    background-color: white;
    background-image:linear-gradient(180deg, transparent, transparent 40%, #003580 40%, #003580 60%, transparent 60%, transparent 100%), linear-gradient(90deg, transparent, transparent 20%, #003580 20%, #003580 40%, transparent 40%)
}
