.routesContainer {

}

.depTime {
}

.lineCode {
    padding-right: 10px;
}

.eta {
    padding-right: 10px;
}

.header {
    font-size: 22px;
}

.dep {
    font-size: 20px;
}

.departures {
    color: white;
    padding-bottom: 8px;
    padding-top: 8px;
}

.stop {
    padding-bottom: 10px;
}