.layout {
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica-Bold';
}

.top {
    flex: 1 1 auto;
    display: flex;
}

.bottom {
    flex: 0 0 auto;
    display: flex;
}

.left {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.right {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@font-face {
    font-family: HelveticaNeue-UltraLight;
    src: url('../../../../font/HelveticaNeue-UltraLight.otf') format('opentype');
}

@font-face {
    font-family: Helvetica-Bold;
    src: url('../../../../font/Helvetica-Bold.otf') format('opentype');
}
